<!doctype html>
<title>Hello from Flask</title>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.css">
<style>
    .style_form{
        display: block;
        text-align: center;
    }
    .style_form label{
        display: inline-block;
    }
    .style_form label input{
        text-align: center;
    }
</style>
<body>
    <form method="post" class="style_form">
<!--    # name, cin, phone, adress, solde, type-->
        <h1>Ajout d'un propriétaire et d'un compte avec le solde</h1>
        <label>
            <h3>Nom :</h3>
            <input name="add_nom" value="test4">
        </label>
        <label>
            <h3>Numéro CIN :</h3>
            <input name="add_cin" value="qsdf45dsqf56">
        </label>
        <label>
            <h3>Telephone :</h3>
            <input name="add_telephone" value="0245694521">
        </label>
        <label>
            <h3>Adresse :</h3>
            <input name="add_address" value="rue de test4">
        </label>
        <label>
            <h3>Solde :</h3>
            <input name="add_solde" value="9999">
        </label>
        <label>
            <h3>Type  :</h3>
            <select name="add_type" data-bind="value: state">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </label>
        <input type="submit" name="submit_add" value="add">
        <br>
    </form>
    <form method="post" class="style_form">
        <label>
            <h3>Id du compte bancaire a supprimer :</h3>
            <input name="del_id" value="4">
        </label>
        <input type="submit" name="submit_del" value="del">
    </form>
    <div style="margin: 0 20% 20% 20%">
        <table id="table_id" class="display">
            <thead>
            <tr>
                <th>Numéro du propriétaire:</th>
                <th>Information du propriétaire</th>
                <th>Comptes bancaire(s)</th>
            </tr>
            </thead>
            <tbody>
                {% for id in result.all_account %}
                    <tr>
                        <td>
                             {{ id }}
                        </td>
                        <td>
                            <p>Nom: {{ result.all_account[id].info.name }}</p>
                            <p>CIN: {{ result.all_account[id].info.cin }}</p>
                            <p>Telephone: {{ result.all_account[id].info.phone }}</p>
                            <p>Adresse: {{ result.all_account[id].info.address }}</p>
                        </td>
                        <td>
                            {% for values in result.all_account[id].compte %}
                                <p>Numéro du compte: {{ values.idc }}</p>
                                <p>Solde: {{ values.solde }}</p>
                                <p>Date de création du compte: {{ values.date }}</p>
                                <p>Type: {{ values.type }}</p>
                            <br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>

<script>
    $(document).ready( function () {
        $('#table_id').DataTable();
    } );
</script>